.logo{
    height: 70px;
    background-color: cadetblue;
    width: 70px;
    border-radius: 50px;
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-size: cover;

}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightgray;

    .nama-class{
        padding: 8px
        
        ;
    }
    
}